<?xml version="1.0"?>

<launch>
  <rosparam command="load" file="$(find jackal_tools)/config/dual_ekf_jackal.yaml" /><!-- dual_ekf_jackal_1.5_test_3 pure funziona bene -->
  
    <!-- Launch local EKF node (Odom frame) -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local"
        clear_params="true" output="screen">
            <remap from="odometry/filtered" to="/odometry/filtered/local"/>
  </node>

  <!-- Launch Global EKF node (Map frame) -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global"
        clear_params="true" output="screen">
    <remap from="odometry/filtered" to="/odometry/filtered/global"/>
  </node>
  

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node">
      <rosparam command="load" file="$(find jackal_tools)/config/navsat_params.yaml" />
      <remap from="/imu/data" to="/imu/data" /> 
      <remap from="/gps/fix" to="/navsat/fix" />
      <remap from="/odometry/filtered" to="/odometry/filtered/global"/>
  </node>
    <!-- Run the map server -->
    <arg name="map_file" default="$(find jackal_tools)/maps/mymap_empty.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    <!--- <node name="laser2base_link" pkg="waypoint_nav" type="laser2base_link"/> -->   
    <!--- Run GMAPPING <include file="$(find jackal_tools)/launch/gmapping.launch" /> se si vuole attivare mettere l'odometry filtered local o globa iln move_base-->
   <!--- Run Move Base -->
    <include file="$(find jackal_tools)/launch/with_map_move_base.launch" />
      <!--- Run GMAPPING -->
    <include file="$(find jackal_tools)/launch/gmapping.launch" />

    <!-- Start RVIZ for Localization -->
    <include file="$(find jackal_tools)/launch/view_robot.launch">
        <arg name="config" value="localization" />
    </include>

</launch>
